<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar documento</title>
</head>
<body>
    <h1>Actualizar persona</h1>

    <form action="/updatePerson" method="POST">
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" value="<%= `${myPerson.nombre}` %>"><br><br>
        <label for="edad">Edad: </label>
        <input type="text" name="edad" id="edad" value="<%= `${myPerson.edad}` %>"><br><br>
        <label for="tipoSangre">Tipo de sangre: </label>
        <input type="text" name="tipoSangre" id="tipoSangre" value="<%= `${myPerson.tipoSangre}` %>"><br><br>
        <label for="nss">NSS: </label>
        <input type="text" name="nss" id="nss" value="<%= `${myPerson.nss}` %>"><br><br>
        <label for="objId">ID: </label>
        <input type="text" name="objId" id="objId" value="<%= `${myPerson._id}` %>" readonly="readonly"><br><br>
    
        <input type="submit" value="Submit">

        <!-- Formulario para actualizar el documento, en el ID estoy usando readonly para que no puedan modificar el campo-->
    </form>
</body>
</html>